* {
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(
    to right top,
    rgb(38, 31, 138),
    rgb(22, 40, 121)
  );
  background-attachment: fixed;
  background-repeat: repeat;
  display: grid;
  place-content: center;
  color: rgb(228, 228, 228);
  font-family: "VT323", monospace;
  font-size: 48px;
  padding: 5vw;
}
.clock {
  width: 10vw;
  padding: 30px;
  margin: 2vw;
  border: 3px solid white;
  border-radius: 6px;
  text-align: center;
}
small {
  color: orange;
  font-size: 35px;
}
