* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fafafb;
  width: 100vw;
  overflow-x: hidden;
}
//header
.header {
  margin: 0;
  box-sizing: border-box;
  padding: 63px 4vw 0 6vw;
  background-image: linear-gradient(180deg, #eef7fe 0%, #f3f3fb 100%);
  height: 50vh;
  position: relative;
  &__title {
    font-family: Saira;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #000248;
    position: absolute;
    top: 25vh;
  }
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &__decoration {
    &__first {
      position: absolute;
      left: -10px;
      top: -3px;
      z-index: 0;
    }
    &__second {
      position: absolute;
      left: 30vw;
      bottom: 0;
      background: linear-gradient(
        180deg,
        rgba(238, 247, 254, 0.45) 3.12%,
        rgba(245, 246, 254, 0.15) 100%
      );
    }
  }
  &__logo {
    z-index: 1;
  }
  &__list {
    list-style: none;
    &__item {
      display: inline-block;
      margin: 0 20px;
      &__content {
        height: 36px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 150%;
        color: #000248;
        text-decoration: none;
        &--active {
          color: #0028ff;
        }
      }
      &__btn {
        outline: none;
        background-color: #0d2fd1;
        border: none;
        color: #ffffff;
        padding: 14px 60px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 150%;
      }
    }
  }
}
main {
  display: flex;
  flex-direction: column;
}
// description
.description {
  padding: 4vw 4vw 0 6vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  &__side {
    &__left {
      width: 40%;
      min-width: 570px;
    }
    &__right {
      width: 50%;
      &__title {
        font-family: Saira;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 150%;
        color: #000248;
        margin-bottom: 20px;
      }
      &__desc {
        font-family: Saira;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: #8e8aa1;
      }
    }
  }
}
//clients
.clients {
  text-align: center;
  &__title {
    font-family: Saira;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 150%;
    color: #000248;
    margin-top: 87px;
    margin-bottom: 40px;
  }
  &__filter_bar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: s;
    padding: 0 6vw;
    width: 100vw;
    height: 150px;
    background: #fcfcff;
    box-shadow: 0px 6px 12px -6px #e6e6e6,
      0px 8px 24px -4px rgba(222, 222, 222, 0.08);
    &__list {
      display: flex;
      flex-direction: row;
      &__item {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 150%;
        color: #000248;
        display: inline-block;
        margin-right: 100px;

        &--active {
          color: #0d2fd1;
        }
      }
    }
    &__option {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 150%;
      color: #000248;
      margin-left: 45vw;
    }
  }
  &__container {
    box-sizing: border-box;
    width: 100vw;
    padding: 4vw 6vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    &__brand {
      width: 20vw;
      min-width: 400px;
      &__logo {
        display: grid;
        place-content: center;

        height: 10vw;
        background-color: #fff;
        border-radius: 6px;
      }
      &__desc {
        text-align: left;
        font-family: Saira;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: #8e8aa1;
        margin: 2vw 0 4vw 0;
      }
    }
  }
}
//cta
.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 40vh;
  background: linear-gradient(180deg, #eaf7ff 0%, #f3f4fd 100%);
  text-align: center;
  padding: 5vh 0;
  &__quote {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #42d9ff;
    background: #d5f3ff;
    padding: 10px 15px;
  }
  &__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 150%;
    color: #000000;
    margin: 4vh 0;
  }
  &__btn {
    padding: 8px 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.04em;
    background-color: #fff;
    color: #0d2fd1;
    border: 3px solid #0d2fd1;
    & img {
      margin-left: 10px;
    }
  }
  &__contact {
    width: 25vw;
    display: flex;
    align-self: center;
    margin-top: 10vh;
    &__text {
      padding: 10px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #8e8aa1;
      margin-right: 70px;
    }
    &__number {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 150%;
      color: #000000;
      margin-left: 10px;
    }
  }
}
footer {
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 6vw;
  height: 7vh;
  background: #00004b;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}
